@import url('//fonts.googleapis.com/css?family=Oswald:700|Roboto:400,700|Montserrat:400');


html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4 { 
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 1px;
  margin: 20px 0 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 8pt;
  background: #111;
  color: #fff;
  z-index: 10;
  min-height: 55px;
}

.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background: red;
}

.fa-spin {
  color: #ffffff;
  text-shadow: 0 0 12px #FFF;
  animation: fa-spin 2s infinite linear
}

.gallery-wrap {
  background: #000;
  margin: auto;
}

.gallery-content {
  max-width: calc(100% - 40px);
  min-height: calc(100vh - 150px);
  margin: 55px auto 0;
}

.gallery-wrap img {
  opacity: 0.6;
  transition: all .3s;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  
}

.gallery-wrap img:hover {
  opacity: 1;
  transform: scale(.95);
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}

.container {
  max-width: 1024px;
}

#name {
  max-height: 15px;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.home-right {
  background: #f1f1f1 url(images/athlete.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.home-left {
  background: #f1f1f1 url(images/artist.jpg) no-repeat;
  background-size: cover;
}

.mobile-menu-btn {
  color: #fff;
  font-size: 19pt;
  margin-top: 9px;
  display: inline-block;
}

.mobile-menu-list {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  text-align: center;
  padding: 0;
  transition: all .25s ease-out;
}

.mobile-menu-list.open {
  padding-top: 65px;
  height: 100vh;
}

.mobile-menu-list.open a {
  animation: fadeIn .75s ease-in both;
}

.mobile-menu-list.open a:nth-child(2) {	animation-delay: .2s;}
.mobile-menu-list.open a:nth-child(3) {	animation-delay: .4s;}
.mobile-menu-list.open a:nth-child(4) {	animation-delay: .6s;}
.mobile-menu-list.open a:nth-child(5) {	animation-delay: .8s;}

.small-spaced {
  letter-spacing: 2px;
  font-size: 8pt;
  text-transform: uppercase;
}

.mobile-menu-section-heading {
  color: #6d6d6d;
  display: block;
  margin: 20px 0 5px;
}

.hide {
  display: none;
}

.mobile-menu-list a {
  font-size: 15pt;
  padding: 5px;
  letter-spacing: 1px;
  transition: all .15s ease-in;
}

.mobile-menu-list a:hover {
  color: rgba(255,255,255,0.5);
  letter-spacing: 3px;
  background: none;
}

.content-wrap.black-bg {
  background: #000 !important;
}

.content-wrap.black-bg h1,
.content-wrap.black-bg h2,
.content-wrap.black-bg h3 {
  color: #fff;
}

.content-wrap {
  min-height: calc(100vh - 105px);
  background:#fff;
  padding-top: 55px;
  padding-bottom: 10px;
}

.full-width {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 25px;
}

.padding-bottom {
  padding-bottom: 25px;
}

@media(min-width: 768px) {
  .home-wrap {
    background: #111;
    width: 100%;
    height: calc(100vh - 105px);
    overflow: hidden;
    position: relative;
  }

  .home-left {
    left: 0;
  }

  .home-half {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 100%;
    transition: all .45s ease-out;
    width: 50%;
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  .home-half:hover {
    width: 75%;
    opacity: 1;
    z-index: 1;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
  }

  .home-half:hover img {
    display: none;
  }

  .home-half nav {
    opacity: 0;
    transform: translateX(-20px) translateY(-50%);
    transition: all .25s ease-out;
    transition-delay: .3s;
  }
  
  .home-half:hover nav {
    opacity: 1;
    transform: translateX(0px) translateY(-50%);
  }

  .home-right {
    right: 0;
  }

  .home-nav {
    position: absolute;
    left: 20px;
    top: 50%;
    line-height: 1.5;
  }
}

nav a {
  display: block;
  color: #fff;
  font-size: 21pt;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 9px;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

.home-nav a::before {
  content: " ";
  position: absolute;
  z-index: -1;
  height: 100%;
  padding: 0 10px;
  width: 0;
  left: -10px;
  transition: all .3s;
  background: #fff;
  opacity: 0;
}

.home-nav a:hover::before {
  content: " ";
  position: absolute;
  z-index: -1;
  height: 100%;
  padding: 0 10px;
  width: calc(100% + 20px);
  opacity: 1;
  left: -10px;
  background: #fff;
}

nav a:hover {
  color: #111;
  text-decoration: none;
}

footer {
  background: #111;
  color: #fff;
  padding: 23px 0;
  color: #777;
  font-size: 9pt;
}

footer a {
  color: inherit;
  font-size: inherit;
  display: block;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer .social {
  display: inline-block;
  font-size: 20pt;
  padding: 10px;
  color: rgba(255,255,255,0.65);
  transition: all .3s;
}

footer .social:hover {
  color: rgba(255,255,255,1);
  transform: translateY(-10px) scale(1.2);
  text-shadow: 0 0 21px #fff;
}

@media(max-width: 767px) {
  #name {
    margin-top: 25px;
  }

  .home-wrap {
    margin-top: 50px;
  }

  .home-half {
    height: calc(50vh - 77.5px);
    padding: 20px;
  }

  .foot-left {
    display: none;
  }

  .foot-right {
    width: 60%;
  }

  .foot-center {
    width: 40%;
  }
}

caption {
  line-height: 1.3;
  display: block;
  padding: 0;
  margin-top: 5px;
  color: #868686;
  font-size: 8pt;
}

.post {
  border-bottom: 1px solid #111;
  margin-bottom: 25px;
}

.post-image {
  padding-bottom: 10px;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

.post-title {
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  color: #fff;
}

.post-content {
  font-size: 10pt;
  color: #ccc;
  margin-bottom: 15px;
}

.post-content p {
  margin: 8px 0 0px;
  line-height: 1.3;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.stat {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 10px;
  background: #e4e4e6;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

@media(min-width: 800px) {
  .stat {
    width: 20%;
  }
}

.stat caption {
  text-align: center;
  margin: 0;
  color: rgba(255,255,255,0.4);
}

.stat-value {
  font-size: 20pt;
  font-weight: 700;
  margin-bottom: 15px;
  background: #201f67;
  padding: 5px 10px 10px;
  color: #fff;
}

.stat-name {
  font-size: 10pt;
}

.stat-name-abbr {
  font-size: 9pt;
  color: #555;
  opacity: 0;
  transition: all .3s;
}

.stat:hover .stat-name-abbr {
  opacity: 1;
}

.the-artist-bio,
.the-athlete-bio {
  min-height: 100vh;
  padding-bottom: 0;
}

figure.alignleft, img.alignleft {
  float: left;
  margin-right: 25px;
  max-width: 50%;
}

figure.alignright, img.alignright {
  float: right;
  margin-left: 25px;
  margin-bottom: 10px;
}

@media(min-width: 767px) {
  max-width: 50%;
}

.the-artist-bio {
  background: url('http://victoroladipo.com/content-api/wp-content/uploads/2018/02/victor-olapido-the-artist-bio-1.jpg') fixed no-repeat;
  background-size: cover;
}

.the-athlete-bio {
  background: url('images/athlete.jpg') fixed no-repeat;
  background-size: cover;
}

.bio-content img {
  max-width: 100%;
  height: auto;
}

.bio-content {
  width: 100%;
  min-height: 100vh;
  background:rgba(0,0,0,0.8);
  padding-top: 10px;
  padding-bottom: 50px;
}

.bio-content p {
  opacity: .95;
  font-size: 15pt;
}

.bio-content p, .bio-content h1, .bio-content h2, .bio-content h3 {
  color: #fff;
}

.block-btn {
  background: white;
  padding: 16px 20px;
  display: block;
  text-align: center;
  margin: 20px 0;
  color: #111;
  margin: auto;
  max-width: 350px;
  transition: all .25s;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 700;
  border: 2px solid #fff;
}

.block-btn:hover {
  color: #fff;
  background: #000;
  text-decoration: none;
  border: 2px solid #fff;
}

.brand-logo {
  text-align: center;
  margin: 50px 0;
}

.brand-logo img {
  max-height: 75px;
  width: auto;
}